<div>
  <h2>Transactions</h2>
  <oj-button on-oj-action="[[fetchTransactions]]">Refresh</oj-button>
  <oj-table data="[[transactions]]" selection-mode.row="single">
    <oj-table-column header-text="ID" data="id"></oj-table-column>
    <oj-table-column header-text="Amount" data="amount"></oj-table-column>
    <oj-table-column header-text="Type" data="type"></oj-table-column>
    <oj-table-column header-text="Date" data="date"></oj-table-column>
  </oj-table>
  <div>
    <h3>Add Transaction</h3>
    <oj-form-layout>
      <oj-input-text id="amount" label-hint="Amount" value="[[newTransactionAmount]]"></oj-input-text>
      <oj-input-text id="type" label-hint="Type" value="[[newTransactionType]]"></oj-input-text>
      <oj-input-text id="date" label-hint="Date" value="[[newTransactionDate]]"></oj-input-text>
      <oj-button on-oj-action="[[addTransactionHandler]]">Add</oj-button>
    </oj-form-layout>
  </div>
  <oj-progress-bar value="-1" class="oj-sm-margin-2x" visible="[[loading]]"></oj-progress-bar>
  <div class="oj-sm-text-color-danger" data-bind="text: error"></div>
</div> 